.about-page {
  background: #f8fafc;
  min-height: 100vh;
}

/* HERO */

.about-hero {
  text-align: center;
  padding: 90px 20px;
  background: linear-gradient(
    135deg,
    #2563eb,
    #7e9ef7
  );
  color: white;
}

.about-hero h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.about-hero p {
  max-width: 850px;
  margin: auto;
  font-size: 1.2rem;
  line-height: 1.8;
  color: #e6ecf4;
}

/* MISSION */

.about-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
  gap: 30px;
  padding: 60px;
}

.about-card {
  background: white;
  padding: 35px;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.about-card:hover {
  transform: translateY(-10px);
}

.about-card h2 {
  color: #2563eb;
  margin-bottom: 15px;
}

.about-card p {
  color: #0e0e0f;
  line-height: 1.8;
}

/* FEATURES */

.features-section {
  padding: 60px;
  text-align: center;
}

.features-section h2 {
  font-size: 2.5rem;
  color: #0f172a;
  margin-bottom: 40px;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap: 25px;
}

.feature-box {
  background: white;
  padding: 30px;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 600;
  color: #2563eb;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.feature-box:hover {
  background: #2563eb;
  color: white;
}

/* TECHNOLOGIES */

.tech-section {
  padding: 60px;
  text-align: center;
}

.tech-section h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.tech-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
  gap: 25px;
}

.tech-card {
  background: white;
  padding: 25px;
  border-radius: 15px;
  font-weight: bold;
  color: #2563eb;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

/* STATS */

.stats-section {
  padding: 80px 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
  gap: 25px;
}

.stat-box {
  background: white;
  text-align: center;
  padding: 35px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

.stat-box h1 {
  color: #2563eb;
  font-size: 3rem;
}

.stat-box p {
  color: #030404;
  margin-top: 10px;
}

/* MOBILE */

@media(max-width:768px){

  .about-hero h1{
    font-size:2.5rem;
  }

  .about-grid,
  .features-section,
  .tech-section,
  .stats-section{
    padding:30px 20px;
  }
}